body {
    margin: 0;
    background-color: #f4f6f8; 
    font-family: Arial, sans-serif;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
    background: #000000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    color: white;
    font-size: 16px;
}
.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e5e5;
    font-weight: 600;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #007bff;
}
.code, .css {
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.code {
    background:black;
    text-align: center;
}

.css {
    background:black;
}

.pg-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.pg-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1); 
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pg-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.pg-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: linear-gradient(135deg, #3498db, #9b59b6); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.back-btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    padding: 8px 15px;
    background: linear-gradient(135deg, #e67e22, #d35400); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

footer {
     text-align: center; 
    padding: 15px;
    background-color: #000000;
    color: white;
}

#copy {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 480px) {
    .pg-list {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .header {
        font-size: 22px;
    }
    .back-btn {
        width: 60%;
        text-align: center;
    }
}
    