* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
background: #f4f6f8;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.profile-container {
background: #ffffff;
width: 360px;
padding: 25px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.profile-container h2 {
text-align: center;
margin-bottom: 20px;
}


.profile-pic {
text-align: center;
margin-bottom: 20px;
}


.profile-pic img {
width: 120px;
height: 120px;
border-radius: 50%;
margin-bottom: 10px;
}


.profile-pic button {
background: #007bff;
color: white;
border: none;
padding: 6px 12px;
border-radius: 5px;
cursor: pointer;
}


.profile-form .form-group {
margin-bottom: 15px;
}


.profile-form label {
display: block;
margin-bottom: 5px;
font-size: 14px;
}


.profile-form input,
.profile-form textarea {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
}


.profile-form textarea {
resize: none;
height: 70px;
}


.save-btn {
width: 100%;
padding: 10px;
background: #28a745;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
text-decoration: none;
}


.save-btn:hover {
background: #218838;
}

.love{
    text-decoration: none;
}