body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image: url(/Asset/Spider-Man\ &\ Gwen\ Aesthetic_.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-container {
      background: white;
      padding: 100px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      width: 350px;
      text-align: center;
    }

    .login-container h1 {
      font-size: 40px;
      margin-bottom: 50px;
      color: #2980b9;
      text-align: center;
    }

    .login-container input {
      width: 320px;
      padding: 15px 15px;
      margin: 5px 0;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .login-container input:focus {
      border-color: #2980b9;
      box-shadow: 0 0 5px rgba(41,128,185,0.5);
    }

    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      background: linear-gradient(135deg, #f39c12, #e67e22);
      color: white;
      cursor: pointer;
      margin-top: 10px;
          }

    .btn:hover {
      transform: scale(1.06);
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .login-container p {
      margin-top: 15px;
      font-size: 14px;
    }

    .login-container a {
      color: #2980b9;
      text-decoration: none;
    }

    .login-container a:hover {
      text-decoration: underline;
    }

    @media (max-width: 480px) {
      .login-container {
        width: 90%;
        padding: 30px 20px;
      }
    }