* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #f4f6f8;
    min-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 42px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: 0.3s;
}


/* Properties Section */
.properties-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.properties-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.property-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Property Card */
.property-card {
    background-color: #ffffff;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.property-card img {
    width: 200px;
    height: 140px;
    object-fit: cover;
}

.property-info {
    padding: 15px;
    flex: 1;
}

.property-info h3 {
    margin-bottom: 6px;
}

.location {
    color: #777;
    font-size: 14px;
}

.price {
    margin: 8px 0;
    font-weight: bold;
    color: #28a745;
}

/* Actions */
.actions {
    margin-top: 10px;
}

.btn {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 8px;
    color: #ffffff;
}

.edit {
    background-color: #007bff;
}
.hello {
    justify-content: center;
}
/* Footer */
.footer {
    margin-top: 730px;
    padding: 15px;
    text-align: center;
    background-color: #000000;
    color: white;
}
