* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #f4f6f8;
    min-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 42px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

/* Navbar */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: 0.3s;
}


/* Form Section */
.form-container {
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.form-card {
    background-color: #ffffff;
    width: 420px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    resize: none;
    height: 80px;
}

.form-row {
    display: flex;
    gap: 10px;
}

/* Button */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}
.love{
    text-decoration: none;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: white;
    margin-top: 130px;
}
