* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/Asset/Spider-Man\ &\ Gwen\ Aesthetic_.jpg);
  background-size: cover;
}

.signup-container {
  background: white;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-container h1 {
  color: #2980b9;
  margin-bottom: 25px;
  font-size: 43px;
  text-align: center;
}

.input-box {
  margin-bottom: 30px;
}

.input-box label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

.input-box input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}


.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg , #f39c12, #e67e22);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
 .btn:hover {
      transform: scale(1.05);
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }



.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 600;
}

.login-text a:hover {
  text-decoration: underline;
}
